html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body, 
h1,
h2 {
    margin: 0px;
}

[id] {
    scroll-margin-top: 7ex;
}

img {
    max-width: 50%;
    height: auto;
}

.header {
    background-color: #000;
    text-align: center;
    position: sticky;
    padding: 0.25rem;
    color: #fff;
    top: 0;
}

.header a {
    margin: 0 1rem;
    color: #00c4d6;
    text-decoration: none;
}

.header a:hover {
    color: #e94bb4;
}

.slide {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    color: #d9e8f0;
    background-color: #1e2345;
}

.slide:nth-child(even) {
    background-color: #a32342;
}

